*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: 100vh;
  background: hsl(210deg 15% 6%);
}

.ball {
  background: hsl(50deg 100% 50%);
  border-radius: 45%;
  width: 64px;
  height: 64px;
  animation: oscillate 700ms ease-in-out infinite alternate;
}

button {
  padding: 16px;
  margin-top: 24px;
  cursor: pointer;
  
}

@keyframes oscillate {
  from {
    transform: translateX(calc(var(--amount) * -1));
  }
  to {
    transform: translateX(var(--amount));
  }
}
